header:first-child {
    background-color: #000000;
}

header:first-child h1 {
    color: #FFFFFF;
    padding: 0px 16% 30px;
    font-size: 80px;
    margin: 0;
}

header:first-child figure {
    padding: 10px 16%;
    margin: 0;
    height: auto;
    width: 350px;
}

body {
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
    background-color:  #EEEEEE;
}

body main table:first-child {
    margin: auto;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    font-size: 20px;
    border-bottom: 5px outset #DDDDDD;
    border-top: 0;
}

body table:first-child td {
    text-align: center;
    padding: 30px;
    color: #222222;
    border-bottom: 5px outset #DDDDDD;
}

body table:first-child td:first-child {
    text-align: right;
}

body table:first-child td:last-child {
    text-align: left;
}

body table:first-child td:nth-child(2) {
    width: 100px;
}

header:nth-child(2) h1 {
    color: black;
    padding: 30px 16% 0px;
    font-size: 60px;
    margin: 0;
}

a {
    color: #CC0000;
}

a:hover {
    color: #2222;
}

header:nth-child(2) p {
    padding: 0 16%; 
    margin-top: 0.5%; 
}

.table-inicial {
    margin: auto;
    width: 60%;
    font-size: 30px;
    border-top: 5px solid #DDDDDD;
    border-bottom: 5px solid #DDDDDD;
}

figure {
    margin: auto;
    padding: 20px;
    width: 60%;
    text-align: center;
}

.table-titulo {
    font-size: 50px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}

.table-cuerpo {
    margin: auto;
    width: 70%;
    font-size: 24px;
}

.imagen1 {
    width: 80%;
    height: auto;
}

figcaption {
    font-size: 15px;
}

.yt {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
}

.yt video {
    position: absolute; /* Posiciona el iframe dentro del contenedor */
    top: 0;
    left: 0;
    width: 100%; /* Ocupa todo el ancho del contenedor */
    height: 100%; /* Ocupa toda la altura del contenedor */
}
