header:first-child {
    background-color: #000000;
}

header:first-child h1 {
    color: #FFFFFF;
    padding: 0px 16% 30px;
    font-size: 80px;
    margin: 0;
}

header:first-child figure {
    padding: 10px 16%;
    margin: 0;
    height: auto;
    width: 350px;
}

body {
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
    background-color:  #EEEEEE;
}

body main table:first-child {
    margin: auto;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    font-size: 20px;
    border-bottom: 5px outset #DDDDDD;
    border-top: 0;
}

body table:first-child td {
    text-align: center;
    padding: 30px;
    color: #222222;
    border-bottom: 5px outset #DDDDDD;
}

body table:first-child td:first-child {
    text-align: right;
}

body table:first-child td:last-child {
    text-align: left;
}

body table:first-child td:nth-child(2) {
    width: 100px;
}

header:nth-child(2) h1 {
    color: black;
    padding: 30px 16% 0px;
    font-size: 60px;
    margin: 0;
}

a {
    color: #CC0000;
    text-decoration: none; 
}

a:hover {
    color: #2222;
    cursor: pointer; 
}

header:nth-child(2) p {
    padding: 0 16%; 
    margin-top: 0.5%; 
}

.table-inicial {
    margin: auto;
    width: 60%;
    font-size: 30px;
    border-top: 5px solid #DDDDDD;
    border-bottom: 5px solid #DDDDDD;
}

figure {
    margin: auto;
    padding: 20px;
    width: 60%;
    text-align: center;
}

.table-titulo {
    font-size: 50px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}

.table-cuerpo {
    margin: auto;
    width: 70%;
    font-size: 24px;
}

.imagen1 {
    width: 80%;
    height: auto;
}

iframe {
    text-align: center;
    width: 100%; 
    height: 100%;
    border: none;
}

.yt {
    height: 600px;
    width: 55%;
}

.textoImagenContenedor {
    display: flex;
    align-items: center; 
    margin: 30px 500px ;
}

.ImagenCircular {
    margin-top: 0;
    width: 170px; 
    height: 170px; 
    border-radius: 50%;
    margin-right: 20px;
}

.textoImagen {
    max-width: 700px;
    font-size: 20px;
    text-align: left;
}

figcaption {
    font-size: 15px;
    line-height: 1.5;
    margin-top: 10px;
    text-align: center; 
    width: 100%;
}

.figcaption {
    font-size: 15px;
    line-height: 1.5;
    margin-top: 10px;
    text-align: center; 
    width: 100%;
    margin-bottom: 70px;
}

footer {
    color: #FFFFFF;
    background-color: #3B3B3B;
    width: 100%;
    height: 200px;
}

footer p {
    margin: auto 270px;
    margin-top: 0;
}

footer figure {
    margin: 0 250px; 
    text-align: left;
}

#lineaRoja {
    text-decoration: underline;
    text-decoration-color: #CC0000;
    text-decoration-thickness: 3px; 
    text-underline-offset: 3px; 
}


.no-link {
    text-decoration: none; 
    color: inherit; 
    cursor: pointer; 
}

ol {
    font-size: 30px; 
    padding: 0px 17.5% 30px;
}

.prensa {
    list-style-image: url('../img/press-icon.png');
    list-style-type: none;
}

.internet {
    list-style-type: none;
    list-style-image: url('../img/internet-icon.png');
}

ul {
    list-style-type: square;
    font-size: 20px;
}

li {
    margin: 20px;
}

.lista2 {
    list-style-type: square;
    list-style-image: none;
}

dl {
    font-size: 30px; 
    padding: 0 15% 20px; /* Ajuste de márgenes */
    max-width: 1200px;
    margin: auto;
}

dt {
    font-weight: bold;
    margin-top: 15px;
}

dd {
    font-size: 20px;
    line-height: 1.6;
    margin: 10px 0 20px 0;
}

.imagen2 {
    width: 40%;
    height: auto;
    display: block;
    margin: 0px auto;
}

.textoInformativo {
    background-color: #DDDDDD; 
    padding: 30px; 
    padding-top: 15px;
    border-left: 5px solid #CCCCCC; 
    line-height: 1.5;
    max-width: 800px;
    margin: 20px auto;
    margin-bottom: 0;
}

.figcaption2 {
    max-width: 900px;
    margin: 20px auto;
    text-align: left;
    font-size: 14px;
    color: #555;
}
