body {
    font-family: Arial, sans-serif;
    padding: 0px;
    margin: 0 16%;
    font-size: 30px;
}

header {
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
    color: #000078;
}

#logo img {
    height: 100px;
    float: left;
}

nav ul {
    list-style-type: none;
    margin: 0;
    display: flex;
    padding-bottom: 150px;
    font-size: 25px;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #000078;
    text-decoration: none;
    font-weight: bold;
}

.medio {
    padding-left: 30px;
    padding-right: 30px;
}

nav ul li a:hover {
    color: #ffcc00;
}

nav ul li a.active {
    text-decoration: underline;
    text-decoration-color: #FFE000;
    text-decoration-thickness: 3px;
    text-underline-offset: 3px;
}

footer {
    background-color: #D0D0D0;
    color: #000078;
    text-align: center;
    padding: 20px;
    position: static;
    width: 100%;
    font-size: 20px;
    left: 0;
    right: 0;
}

footer p {
    margin: 0;
}

a {
    transition: color 0.3s;
}

.repositorio {
    width: 100%;
    margin: 0;
    overflow: hidden;
}

.texto {
    width: 48%;
    float: left;
    margin-top: -4%;
    color: #000078;
    padding: 0;
}

.video {
    width: 48%;
    float: right;
    box-sizing: border-box;
}

.h1 {
    font-size: 70px;
    margin-bottom: 0;
}

.clear {
    clear: both;
}

.boton-amarillo {
    padding: 15px 30px;
    background-color: #ffcc00;
    color: #000078;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    position: absolute;
}

.cifras {
    background-color: #F0F0F0;
    padding: 50px 0;
    text-align: center;
    position: relative;
    width: 100vw; 
    left: calc(-25%); /* Compensa los márgenes horizontales del body */
}

.cifras h1 {
    font-size: 60px;
    margin-bottom: 30px;
}

.fila-index {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.elemento {
    text-align: center;
}

.elemento i {
    font-size: 60px;
    color: #000078;
    margin-bottom: 10px;
}

.h12 {
    font-size: 20px;
    font-weight: bold;
}

